.loginform_cnct{
    background: linear-gradient(to bottom right,#fff,#fff,#D91656);
}
.loginform{
    padding: 6vh;
    /* background-color: white; */
    min-height:20vh;
     width:400px;
    /* border-radius:24px */
}

.loginform .smallbtn{
   
    border-radius: 5px;
    border: none;
    background-color: #D91656;
    margin-top: 20px;
    font-family: '';
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Jost_l';
}
.emojiimg{
    height: 400px;
    width: 400px;
    display: flex;
    align-self: center;
    object-fit: cover;
}


@media(max-width:750px){
      .loginform{
        padding: 4vh 4vh 6vh;
        width: 380px;
      }
}

@media(max-width:850px){
   .emojiimg{
    display: none;
   }
}


@media (max-width: 465px) {
    .loginform {
        /* padding: 3vh 6vh; Smaller padding */
        width: 95%; 
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    .loginform h1 {
        font-size: 1.8rem; /* Smaller font size */
        margin-bottom: 3vh;
    }

    .loginform input {
        font-size: 0.9rem; /* Smaller input font size */
        padding: 5px 8px; /* Reduced padding */
    }
}

@media(min-height:1000px){
    .loginform{
        width: 450px;
        padding: 4vh 4vh 6vh;
    }
}
@media(min-height:1350px){
    .loginform{
        width: 500px;
        padding: 4vh 4vh 4vh;
    }
}