.postcontainer {
    width: 100%;
    min-height: 30vh;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 4vh;
    align-items: flex-start;
    /* Align cards at the top */
}

.postcard {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    /* background: linear-gradient(to right top , #fff ,#fff ,#fff,#D91656); */
    padding: 3vh 2vh;
    border-radius: 12px;
    z-index: 11px;
    /* Equalize height if necessary */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Adjust content spacing */
}
.postcard .userdets img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: antiquewhite;
    margin-right: 10px;
    object-fit: cover;
}
.postcard .postcontent img{
    width: auto;
    display: flex;
    justify-self: center;
    height: 50vh;
    border-radius: 8px;
    margin-top: 16px;
}
.postcard .postcontent .posttext{
    font-family: 'Jost_l';
    line-height: 1.2;
    margin-top: 16px;
    font-size: 1.05rem;
    color: #314B43;
}
.postcard .tools{
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: 'Jost_l';
    padding: 0 8px;
    color: #D91656
}
.postcard .tools i{
    padding: 8px;
    font-size: 1.6rem;
    background: transparent;
}
.postcard .commentbox{
    margin-top: 24px;
}
.commentInput{
    width: 80%;
    height: 50px;
     border-radius: 8px;
     font-size: 16px;
     font-family: Jost_l;
     padding: 4px 12px;
     border: 2px solid #c7cac9;
     color: #314B43 ;
     background: transparent ,

}

@media(max-width:1150px) {
    .postcontainer {
        width: 100%;
    }
}

@media(max-width:768px) {
    .post {
        padding: 2vh;
    }
}

@media(max-width:670px){
    .commentInput{
        width: 75%;
    }
}
@media(max-width:480px){
    .commentInput{
        width: 70%;
    }
}
@media(max-width:400px){
    .commentInput{
        width: 75%;
    }
}