/* #fff8e6 - baby pink
#032119 - dark green
#febe16 - yellow btn
#ffc019 - text yellow
#010822 - text blue 
#314B43 - light green bg icon  */
@font-face {
    font-family: 'Jost_h';
    src: url('../../assets/Fonts/Jost-Medium.ttf');
}

@font-face {
    font-family: 'Jost_l';
    src: url('../../assets/Fonts/Jost-Regular.ttf');
}

.homepage {
    height: 100vh;
    width: 100%;
    background-color: #fff8e6;
}

.homepage nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 22vh;
    position: fixed;
    z-index: 5;
     width: 100%;
}

.homepage nav h1 {
    font-family:monospace   ;
    font-size: 1.8rem;
}

.homepage nav button {
    padding: 8px 16px;
    margin-right: 10px;
    margin-top: 5px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    color: #D91656;
    font-size: 1.1rem;
}

.homepage .container {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0 22vh ;
    /* color: #535c7c; */
}

.homepage .container .ylw_cnct {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #010822;
    z-index: 9;
}

.homepage .container .grn_cnct {
    width: 30%;
    height: 100%;
    background-color: #010822;
    display: flex;
    align-items: center;
    position: fixed;
    left: 60%;
}

.homepage .container .ylw_cnct h1 {
    font-family: 'Jost_h';
    font-size: 4rem;
}

.homepage .container .ylw_cnct button {
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: #D91656;
    margin-top: 20px;
    padding: 15px 10px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Jost_l';
}

.homepage .container .grn_cnct img {
    object-fit: cover;
    width: 100%;
    background-color: #010822;
    scale: 1.2;
    border-radius: 12px;
}

@media(max-width:1200px) {
    .homepage nav {
        padding: 15px 10vh;
    }

    .homepage .container {
        padding: 0 10vh;
    }

    .homepage .container .grn_cnct {
        left: 65%;
    }
}
@media(max-width:1000px){
    .homepage .container .ylw_cnct h1 {
        font-size: 3.5rem;
    }
}
@media(max-width:900px) {
    .homepage nav {
        padding: 15px 6vh;
    }

    .homepage .container {
        padding: 0 6vh;
    }

   
}

@media(max-width:650px){
    .homepage nav {
        padding: 15px 3vh;
    }

    .homepage .container {
        padding: 0 3vh;
    }
    .homepage .container .ylw_cnct{
        width: 65%;
    }
   
    .homepage .container .grn_cnct {
        width: 25%;
        left: 72%;
    }
}

@media(max-width:470px){
    .homepage .container .ylw_cnct{
        width: 80%;
        padding: 10px;
    }
    .homepage .container .ylw_cnct button {
        width: 180px;
        padding: 10px 8px;
    }
    .homepage nav button{
        margin-right: 0;
        padding: 6px 12px;
    }
    .homepage .container  .grn_cnct{
        visibility: hidden;
        
    }
}

@media(max-width:400px){
    .homepage .container{
        padding-left: 1vh;
        padding-right: 1vh;
    }

    .homepage .container .ylw_cnct{
        width: 100%;
        padding: 10px;
        align-items: center;
    }
    .homepage nav{
        padding: 1.5vh;
    }
    .homepage nav button{
        padding: 6px 8px;
    }
}
@media(max-width:350px){
    
    .homepage .container .ylw_cnct{
        width: 100%;
        padding: 10px;
        align-items: center;
    }
}